h1 {
    text-align: center;
}

.btn {
    width: 100px;
    height: 25px;
    background-color: rgb(162, 183, 240);
    color:aliceblue;
    font-weight: 900;
    padding-top: 2px;
}
.btn-new {
    position: absolute;
    top: 70%;
    left: 0%;
}
.btn-clear {
    position: absolute;
    top: 70%;
    left: 80%;
}

.container-top { 
    margin: auto;
    height: 100px;
    width: 500px;
    position: relative;
}

.container {
    margin: auto;
    height: 500px;
    width: 500px;
    position: relative;
}
.grid {
    position: absolute;
    top: 0%;
    left: 0%;
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
.cell {
    user-select: none;
}
  
.draw {
    background-color: black;
}